h2{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
h3{

}
body{
    background: url(Miracle\'s\ Logo.png);
}
.Username or Email{
    color: white;
}
.password{
    color: white;
}